* text=auto

*.py text eol=lf
*.json text eol=lf
*.md text eol=lf
*.js text eol=lf
*.tmLanguage.json text eol=lf

*.md linguist-detectable=false
*.ms linguist-vendored

*.png binary
*.ico binary
*.vsix binary
